.contact-container {
    font-family: 'Arial', sans-serif;
    color: var(--grey);
    text-align: center;
}

.hero {
    background: url('../../../../public/assets/backgrount images/banner_1.jpg') no-repeat center center/cover;
    color: var(--white);
    padding: 60px 20px;
    border-radius: 10px;
    margin: 20px;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

.contact-form {
    width: 40rem;
    margin-top: 3rem;
}

.contact-form h2 {
    margin-bottom: 20px;
}

form {
    height: 18rem;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 4rem;
    min-height: 4rem;
    max-height: 8rem;
    min-width: 80%;
    max-width: 80%;
}

.submit-btn {
    background: var(--green);
    color: var(--white);
    padding: 10px 14px;
    border: none;
    font-size: 16px;
    transition: all 0.2s;
    margin: 4px;
    border-radius: 4px;
}

.submit-btn:hover {
    background: var(--light-green);
}

.submit-btn:disabled {
    background: var(--grey);
    cursor: not-allowed;
}

.error {
    color: var(--red);
    font-size: 14px;
    margin-top: 5px;
    float: left;
    margin-left: 10%;
}


@media screen and (max-width: 575px) {
    .contact-form {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .contact-form {
        width: 100%;
    }
}