.cart-container {

    h2 {
        text-align: center;
        margin: 20px;
    }

    .cart-item {
        margin-bottom: 15px;
        background: var(--light-white);
        padding: 10px;
        border-radius: 8px;
        width: 50rem;

        img {
            width: 12rem;
            height: 12rem;
            margin-right: 10px;
        }

        .details-wrapper {
            flex: 1;

            h3 {
                margin: 0;
            }

            p {
                color: var(--grey);
            }

            h5 {
                margin-right: 20px;
            }

            .quantity {
                display: flex;
                align-items: center;

                button {
                    background: var(--baby-green);
                    color: var(--white);
                    border: none;
                    padding: 5px 10px;
                    width: 30px;
                }

                span {
                    margin: 0 10px;
                }
            }

            .remove {
                background: var(--red);
                color: var(--white);
                border: none;
                padding: 5px 10px;
            }
        }
    }

    .cart-summary {
        text-align: right;
        position: sticky;
        bottom: 0;
        background-color: var(--white);

        .checkout {
            background: var(--green);
            color: var(--white);
            padding: 10px 14px;
            border: none;
            margin-bottom: 20px;
            transition: all 0.2s;

            &:hover {
                background: var(--baby-green);
            }
        }
    }
}

.btn {
    border-radius: 4px;
    margin: 4px;
}


@media screen and (max-width: 575px) {
    .cart-item {
        flex-direction: column;
        width: 18rem !important;
        height: auto !important;
    }

    .details-wrapper {
        flex-direction: column;
    }

    .product-detail {
        text-align: center;
    }

    img {
        width: 100% !important;
        height: auto !important;
        margin: 0 !important;
    }

    .btn-wrapper {
        flex-direction: column;
    }

    .cart-summary {
        text-align: center !important;
    }
}


@media screen and (min-width: 576px) and (max-width: 767px) {
    .cart-item {
        width: 34rem !important;
    }

    img {
        width: 6rem !important;
        height: auto !important;
    }

    h5 {
        margin-right: 2px !important;
    }

    .btn-wrapper {
        flex-direction: column;
    }

    // .cart-summary {
    //     bottom: 0rem !important;
    // }
}

@media screen and (min-width: 768px) and (max-width: 863px) {
    .cart-item {
        width: 40rem !important;
    }

    .btn-wrapper {
        flex-direction: column;
    }

    // .cart-summary {
    //     bottom: 0rem !important;
    // }
}