.register-box {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 24rem;
    margin: 4rem 8px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

input,
textarea {
    margin: 18px 0 0 0;
    border: 2px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
}

.checkbox-label {
    font-size: 14px;
    margin-top: 12px;
}

.tearms-checkbox {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin: 0;
}

.error {
    color: var(--red);
    font-size: 14px;
    text-align: left;
}

button {
    background: var(--green);
    color: var(--white);
    padding: 10px 14px;
    border: none;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    margin: 20px 0;
}

button:disabled {
    background: var(--grey);
    cursor: not-allowed;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 576px) {
    .register-box {
        padding: 12px;
        // width: 18.8rem;
        max-width: 22rem;
    }
}