.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-white);
    margin: 3rem 0;
}

.register-box {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 28rem;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--grey);
}

input,
textarea {
    width: 95%;
    min-width: 95%;
    max-width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    min-height: 4rem;
    max-height: 8rem;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 0px;
}

.tearms-checkbox {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin: 0;
}

button {
    background: var(--green);
    color: var(--white);
    padding: 10px 14px;
    border: none;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    margin-top: 30px;
}

button:disabled {
    background: var(--light-white);
    cursor: not-allowed;
}

.error {
    color: var(--red);
    font-size: 14px;
    text-align: left;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 423px) {
    .register-container {
        margin: 2rem 0;
    }

    .register-box {
        width: 16rem;
        margin: 0 10px;
        padding: 12px;
    }

    input,
    textarea {
        min-width: 14.6rem;
        max-width: 14.6rem;
    }
}

@media screen and (min-width: 424px) and (max-width: 576px) {
    .register-container {
        margin: 2rem 0;
    }

    .register-box {
        width: 20rem;
        margin: 0 20px;
        padding: 20px;
    }

    input,
    textarea {
        min-width: 18.6rem;
        max-width: 18.6rem;
    }
}