.register-box {
    background: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 58rem;
    margin: 4rem 8px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form>.w-full {
    margin: 0 12px;
}

label {
    margin: 12px 0 4px 0;
    float: left;
}

input,
textarea,
select {
    border: 2px solid var(--grey);
    border-radius: 5px;
    font-size: 16px;
    z-index: 2;
}

textarea {
  max-height: 10rem;
}

.checkbox-label {
    font-size: 14px;
    margin-top: 12px;
    width: inherit;
}

.tearms-checkbox {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    margin: 0;
    margin-right: 8px;
    height: 20px;
}

.error {
    color: var(--red);
    font-size: 14px;
    text-align: left;
}

button {
    background: var(--green);
    color: var(--white);
    margin: 20px 0;
}

button:disabled {
    background: var(--grey);
    cursor: not-allowed;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: var(--green);
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 575px) {
    .register-box {
        padding: 12px;
        min-width: auto;
        max-width: 20rem;
    }

    .form {
        flex-direction: column;
    }

    .form>.w-full {
        margin: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .register-box {
        padding: 20px;
        max-width: 32rem;
    }

    .form {
        flex-direction: column;
    }

    .form>.w-full {
        margin: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 863px) {
    .register-box {
        padding: 32px;
        max-width: 42rem;
    }

    .form {
        flex-direction: column;
    }

    .form>.w-full {
        margin: 0;
    }
}

@media screen and (min-width: 864px) and (max-width: 1023px) {
    .register-box {
        padding: 12px;
        max-width: 48rem;
    }

    .form>.w-full {
        margin: 0 12px;
    }
}