<div class="footer w-full flex justify-content-center">
    <div class="footer-cover w-full flex justify-content-center align-items-center flex-column">
        <h2>Get Exclusive Offers</h2>

        <div class="subscription-wrapper flex">
            <input class="mail-input-field" type="email" placeholder="Enter your email">
            <button class="subscription-btn cursor-pointer">Subscribe</button>
        </div>

        <hr class="copyrights-divider">
        <div class="copyrights-container">
            {{copyright}}
        </div>
    </div>
</div>

