.header-wrapper {
    border-bottom: 2px solid var(--green);
}

.navbar {
    max-width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--logo-white);
}

.logo-wrapper {
    width: 13rem;
}

.logo {
    width: 3rem;
    margin: 8px;
}

.title {
    width: fit-content;
    color: var(--green);
}

.title-span {
    color: var(--light-green);
}

.nav-icons,
.nav-links,
.nav-links span {
    height: 100%;
}

.nav-links a,
.nav-links span {
    margin: 0 8px;
    text-decoration: none;
    color: var(--dark-green);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s;

    &:hover {
        color: var(--green);
    }
}

.nav-links span {
    margin: 0 6px;
}

.nav-icon {
    margin-right: 4px;
}

.active-page {
    color: var(--white);
    background-color: var(--green);

    a {
        color: var(--white);

        &:hover {
            color: var(--white);
        }
    }
}

.menu-btn,
.close-btn,
.login-btn,
.cart-btn {
    transition: all 0.2s;
}

.menu-btn,
.login-btn,
.close-btn {
    background: none;
}

.menu-btn:hover,
.login-btn:hover,
.close-btn:hover,
.cart-btn:hover {
    color: var(--green);
}

.login-btn,
.cart-btn {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: var(--dark-green);
    margin: 0px 10px 0 10px;
}


.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: var(--red);
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}

.login-label {
    display: none;
}

.menu-btn {
    font-size: 24px;
    border: none;
    display: none;
    margin-right: 20px;
}

.close-btn {
    font-size: 20px;
    border: none;
    margin-bottom: 8px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 14rem;
    height: 100vh;
    z-index: 1003;
    background-color: var(--light-white);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.3s ease-in-out;
}

.sidebar.open {
    right: 0;
}

.sidebar a {
    display: block;
    padding: 14px;
    text-decoration: none;
    color: var(--dark-green);
    font-size: 18px;
}

.sidebar a:hover {
    background-color: var(--green);
    color: var(--white);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
}


@media screen and (max-width: 575px) {
    .nav-links {
        display: none !important;
    }

    .cart-btn {
        margin: 0px 8px;
    }

    .menu-btn {
        display: block;
        margin-right: 12px;
    }

    .sidebar {
        width: 12rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .nav-links {
        display: none !important;
    }

    .menu-btn {
        display: block;
    }

    .sidebar {
        width: 12rem;
    }
}


@media screen and (min-width: 768px) and (max-width: 863px) {
    .nav-links {
        display: none !important;
    }

    .menu-btn {
        display: block;
    }
}


@media screen and (min-width: 864px) and (max-width: 1023px) {
    .nav-links span {
        margin: 0;
    }
}