// .header-wrapper {
//     max-width: 100rem;
// }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-white);
    padding: 8px 30px;
    border-bottom: 2px solid var(--green);
}

.logo-wrapper {
    width: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--dark-green);
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.2s;
}

.nav-links a:hover {
    color: var(--light-green);
}

.nav-icon {
    margin-right: 8px;
}

.cart-icon {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: var(--dark-green);
    margin: 0px 28px;
    transition: all 0.2s;
}

.cart-icon:hover {
    color: var(--light-green);
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -350px;
    width: 250px;
    height: 100vh;
    z-index: 1003;
    background-color: var(--light-white);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: right 0.3s ease-in-out;
}

.sidebar.open {
    right: 0;
}

.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--dark-green);
    font-size: 18px;
}

.sidebar a:hover {
    background-color: var(--light-green);
    color: white;
}

.close-btn {
    font-size: 20px;
    border: none;
    background: none;
    margin-bottom: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
}


@media screen and (max-width: 575px) {
    .navbar {
        padding: 8px 8px;
    }

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 863px) {
    .nav-links {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}

@media screen and (min-width: 864px) and (max-width: 1023px) {}

@media screen and (min-width: 1024px) and (max-width: 1439px) {}

@media screen and (min-width: 1440px) and (max-width: 1919px) {}

@media screen and (min-width: 1920px) and (max-width: 2559px) {}

@media screen and (min-width: 2560px) and (max-width: 3139px) {}

@media screen and (min-width: 3140px) and (max-width: 3839px) {}

@media screen and (min-width: 3840px) and (max-width: 4519px) {}

@media screen and (min-width: 4520px) and (max-width: 5119px) {}

@media screen and (min-width: 5120px) {}