<div class="header w-full flex justify-content-center">

    <div class="header-wrapper w-full flex justify-content-center">
        <nav class="navbar w-full">
            <!-- <div class="logo">🌿 SoapNest</div> -->
            <div class="logo-wrapper flex align-items-center">
                <img class="logo h-full cursor-pointer" src="assets/logo/logo-2.jpeg" alt="logo" routerLink="/home">
                <h1 class="title cursor-pointer" routerLink="/home">Green <span class="title-span">Glow</span>
                </h1>
            </div>


            <div class="nav-icons flex align-items-center">
                <div class="nav-links flex align-items-center">
                    <span class="flex align-items-center cursor-pointer"
                        [ngClass]="{'active-page': isActive(link.path)}" *ngFor="let link of navLinks"
                        [matTooltip]="link.label" [routerLink]="link.path">
                        <a>
                            <i class="nav-icon" [class]="link.icon"></i>{{link.label }}</a>
                    </span>
                </div>
                <a routerLink="/cart" class="cart-btn" matTooltip="Cart"><i class="fa-solid fa-cart-shopping"></i>
                    <span *ngIf="cartService.cartCount.getValue()" class="cart-count">
                        {{ cartService.cartCount.getValue() }}</span>
                </a>
                <a routerLink="/login" class="login-btn" matTooltip="Login"><i class="fa-solid fa-circle-user"></i>
                    <span class="login-label">Login</span>
                </a>
                <button class="menu-btn cursor-pointer" (click)="toggleSidebar()" matTooltip="Menu"><i
                        class="fa-solid fa-bars"></i></button>
            </div>
        </nav>


        <div class="sidebar" [class.open]="isSidebarOpen">
            <button class="close-btn cursor-pointer" (click)="toggleSidebar()"><i
                    class="fa-solid fa-close"></i></button>
            <a *ngFor="let link of navLinks" [routerLink]="link.path" (click)="toggleSidebar()">
                {{ link.label }}
            </a>
        </div>

        <div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>
    </div>

</div>