.payment-container {
    text-align: center;
    // max-width: 400px;
    margin: auto;
    margin: 2rem 8px;
    padding: 20px;
    background: var(--light-white);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.page-title {
    margin-top: 0;
}

p {
    font-size: 18px;
}

.pay-btn,
.cancel-btn {
    padding: 10px;
    color: var(--white);
    border: none;
    border-radius: 4px;
    margin: 12px;
    width: 6rem;
    margin-top: 30px;
}

.pay-btn {
    background: var(--green);
}

.cancel-btn {
    background: var(--red);
}