.my-orders-wrapper {
  background-color: var(--light-white);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 30rem;
}

.filters {
  margin-bottom: 20px;
}

.status-filter,
.date-filter {
  padding: 8px;
  border-radius: 4px;
  border: 2px solid var(--grey);
}

.date-filter {
  width: 8rem;
  margin: 4px 0px;
}

.filter-btn {
  margin: 12px;
  width: 4rem;
}

small {
  margin: 10px 0;
  text-align: center;
}

.order-card {
  background-color: var(--white);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;

  p {
    margin: 12px 0;
  }
}

.left-container,
.right-container {
  margin-right: 40px;
}

button {
  background-color: var(--green);
  color: var(--white);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: var(--light-green);
  }
}

.view-order-btn-wrapper button {
  margin-top: 12px;
}

button:disabled {
  background-color: var(--grey);
  cursor: not-allowed;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;

  button {
    width: 6rem;
  }
}

.cancelled,
.pending,
.shipped,
.delivered,
.cancelled {
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  color: white;
}

.pending {
  background-color: orange;
}

.shipped {
  background-color: blue;
}

.delivered {
  background-color: green;
}

.cancelled {
  background-color: red;
}


@media screen and (max-width: 576px) {

  .my-orders-wrapper {
    width: 22rem;
    padding: 8px;
  }


  .status-filter {
    width: 12rem;
    margin-right: 0;
  }

  .date-filter {
    width: 4rem;
    margin: 4px 0px;
  }
}