:host ::ng-deep router-outlet+* {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-wrapper {
    position: sticky;
    top: 0;
    z-index: 999;
}

.content-wrapper {
    max-width: 100rem;
}