.order-details-wrapper {
    max-width: 40rem;
    width: 40rem;
    margin: 8px;
    padding: 20px;
    background: var(--light-white);
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

p {
    margin: 20px 0;
}

.invoice-button,
.back-button {
    margin-top: 20px;
    padding: 10px;
    background: var(--green);
    color: var(--white);
    border: none;
    width: 10rem;
}

.invoice-button {
    background: var(--blue);
}

.invoice-wrapper {
    margin: auto;
    background: var(--white);
    padding: 30px;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 4px;
}

header {
    margin-bottom: 30px;
}

.seller-buyer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.seller-buyer-info div {
    width: 45%;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table th,
.product-table td {
    border: 1px solid var(--grey);
    padding: 10px;
    text-align: center;
}

.totals {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: var(--grey);
}

.product-table {
    max-height: 20rem;
    overflow-y: scroll;
}

@media screen and (max-width: 768px) {
    .order-details-wrapper {
        width: auto;
    }
}