// .checkout-container {
//     max-width: 40rem;
//     margin: 4rem 0;
//     padding: 20px;
//     padding-top: 0;
//     border-radius: 8px;
//     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
// }

.checkout-wrapper {
    background: var(--light-white);
    max-width: 40rem;
    margin:0 8px 40px 8px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.product-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.product-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

label {
    font-weight: bold;
    margin-top: 20px;
}

input,
textarea,
select {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--grey);
    border-radius: 4px;
}

textarea {
    max-height: 8rem;
    min-height: 4rem;
}

.error {
    color: var(--red);
}

.order-summary {
    background: var(--white);
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    margin-bottom: 20px;
}

.order-summary p {
    margin: 20px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: var(--green);
    color: var(--white);
    border: none;
    border-radius: 4px;
    margin: 12px 0;
    font-size: 16px;
}

button:disabled {
    background: var(--grey);
    cursor: not-allowed;
}


@media screen and (max-width: 380px) {

    input,
    textarea {
        width: 94%;
    }

}