<div class="checkout-container flex flex-column align-items-center">
    <h1 class="page-title text-center">Checkout</h1>

    <div class="checkout-wrapper">
        <div class="product-list">
            <div class="product-item" *ngFor="let product of products">
                <img [src]="product.image" alt="{{ product.name }}">
                <div>
                    <h3>{{ product.name }}</h3>
                    <p>Price: ₹{{ product.price }}</p>
                </div>
            </div>
        </div>

        <form [formGroup]="checkoutForm">
            <div>
                <label>Full Name</label>
                <input formControlName="fullName" placeholder="Enter your name">
                <div
                    [ngStyle]="checkoutForm.controls['fullName'].invalid && checkoutForm.controls['fullName'].touched?{}:{'visibility':'hidden'}">
                    <p class="error">
                        * Name is required
                    </p>
                </div>
            </div>

            <div>
                <label>Phone Number</label>
                <input formControlName="phone" placeholder="Enter phone number">
                <div
                    [ngStyle]="checkoutForm.controls['phone'].invalid && checkoutForm.controls['phone'].touched?{}:{'visibility':'hidden'}">
                    <p class="error">
                        * Valid phone number is required
                    </p>
                </div>
            </div>

            <div>
                <label>Address</label>
                <textarea formControlName="address" placeholder="Enter delivery address"></textarea>
                <div
                    [ngStyle]="checkoutForm.controls['address'].invalid && checkoutForm.controls['address'].touched?{}:{'visibility':'hidden'}">
                    <p class="error">
                        * Address is required
                    </p>
                </div>
            </div>

            <div>
                <label>State</label>
                <select type="text" formControlName="state" placeholder="State" (change)="getDistrictsByState(state)">
                    <option value="" *ngIf="statesList.length == 0" disabled selected>State list is
                        unavailable</option>
                    <option *ngFor="let state of statesList">{{ state }}</option>
                </select>
                <div class="error"
                    [ngStyle]="statesList.length != 0 && (checkoutForm.get('state')?.invalid && checkoutForm.get('state')?.touched)?{}:{'visibility':'hidden'}">
                    Enter a valid state.
                </div>
            </div>

            <div>
                <label>District</label>
                <select type="text" formControlName="district" placeholder="District">
                    <option value="" *ngIf="districtsList.length == 0" disabled selected>Please select a state</option>
                    <option *ngFor="let district of districtsList">{{ district }}</option>
                </select>
                <div class="error"
                    [ngStyle]="districtsList.length != 0 && (checkoutForm.get('district')?.invalid && checkoutForm.get('district')?.touched)?{}:{'visibility':'hidden'}">
                    Enter a valid district.
                </div>
            </div>

            <!-- <div>
                <label>Pincode</label>
                <input formControlName="pincode" placeholder="Enter your pincode">
                <div
                    [ngStyle]="checkoutForm.controls['pincode'].invalid && checkoutForm.controls['pincode'].touched?{}:{'visibility':'hidden'}">
                    <p class="error">
                        * Valid pincode is required
                    </p>
                </div>
            </div> -->

            <div>
                <label>Pincode</label>
                <select type="text" formControlName="pincode" placeholder="Pincode">
                    <option value="" *ngIf="pincodesList.length == 0" disabled selected>Please select a pincode
                    </option>
                    <option *ngFor="let pincode of pincodesList">{{ pincode }}</option>
                </select>
                <div class="error"
                    [ngStyle]="pincodesList.length != 0 && (checkoutForm.get('pincode')?.invalid && checkoutForm.get('pincode')?.touched)?{}:{'visibility':'hidden'}">
                    Enter a valid pincode.
                </div>
            </div>

            <div>
                <label>Payment Method</label>
                <input formControlName="paymentMethod" placeholder="Select payment method">
                <div
                    [ngStyle]="checkoutForm.controls['paymentMethod'].invalid && checkoutForm.controls['paymentMethod'].touched?{}:{'visibility':'hidden'}">
                    <p class="error">
                        * Valid payment method is required
                    </p>
                </div>
            </div>

            <div class="coupon-section" [formGroup]="coupons">
                <label>Gift Coupons:</label>
                <div class="coupon-wrapper" formArrayName="formArray">
                    <ng-container *ngFor="let coupon of getCoupons.controls; let i = index">
                        <div [formGroupName]="i" class="w-full flex justify-content-center align-items-center">
                            <input class="coupon-inputfield" type="text" formControlName="code"
                                placeholder="Enter Coupon Code">
                            <button class="verify-coupon"
                                [ngClass]="getCouponVerificationStatus(i) ? 'verified-coupon' : ''"
                                (click)="verifyCoupon(i)"><i class="pi pi-check"></i>{{
                                getCouponVerificationStatus(i) ? 'Verified' : 'Verify' }}</button>
                            <!-- <button class="remove-coupon" (click)="removeCoupon(i)"><i
                                    class="pi pi-trash"></i>Remove</button> -->
                        </div>
                    </ng-container>

                </div>
                <!-- <button *ngIf="getCouponsCount === 0" class="add-coupon w-full" (click)="addCoupon()"><i
                        class="pi pi-plus"></i>Add Coupon</button> -->
                <!-- <button *ngIf="getCouponsCount > 0" class="apply-coupon w-full"><i class="pi pi-gift"></i>Apply
                    Coupon</button> -->
            </div>

            <div class="order-summary">
                <h3>Order Summary</h3>
                <p>Subtotal: ₹{{ totalPrice }}</p>
                <p>GST (18%): ₹{{ gst }}</p>
                <p>Delivery Charge: ₹{{ deliveryCharge }}</p>
                <p *ngIf="couponDiscountPercentage && couponDiscountPercentage > 0">Coupon Discount: ₹{{
                    couponDiscountPercentage }}</p>
                <h3>Total: ₹{{ grandTotal }}</h3>
            </div>

            <div class="button-container">
                <button class="cancel-btn w-full" (click)="cancelOrder()">Cancel Order</button>
                <button class="submit-btn w-full" type="submit" (click)="placeOrder()">Place Order</button>
            </div>
        </form>
    </div>
</div>