.checkout-wrapper {
    background: var(--light-white);
    width: 34rem;
    margin-bottom: 32px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.product-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.product-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}

form div {
    margin-bottom: 20px;
}


label {
    font-weight: bold;
}

// input,
// textarea,
// select {
//     width: 100%;
//     min-width: 100%;
//     max-width: 100%;
//     padding: 8px;
//     margin: 5px 0 20px 0;
//     border: 1px solid var(--grey);
//     border-radius: 4px;
// }

input,
textarea {
    margin-top: 8px;
}

.error {
    color: var(--red);
    font-size: 14px;
}

.coupon-wrapper {
    margin-top: 12px;
}

.add-coupon,
.apply-coupon {
    margin: 4px 0;
}

.add-coupon {
    background-color: var(--green);
    color: var(--white);
}

.remove-coupon {
    width: 8rem;
    background-color: var(--red);
    color: var(--white);
}

.apply-coupon {
    background-color: var(--orange);
    color: var(--white);
}

.coupon-inputfield {
    min-width: 0 !important;
    margin: 0;
}

.verify-coupon {
    width: 8rem;
    background: var(--blue);
    color: var(--white);
}

.verified-coupon {
    background: var(--green);
}

.coupon-section button i {
    margin-right: 8px;
}

.order-summary {
    background: var(--white);
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    margin-bottom: 20px;
}

.order-summary p {
    margin: 20px 0;
}

.submit-btn {
    background: var(--green);
    color: var(--white);
}

.cancel-btn {
    background: var(--red);
    color: var(--white);
}

button:disabled {
    background: var(--grey);
    cursor: not-allowed;
}


@media screen and (max-width: 576px) {
    .checkout-wrapper {
        width: auto;
        margin: 12px;
        margin-top: 0;
    }

    .button-container {
        flex-direction: column;
    }
}